<main>
  <div class="main-image">
    <%= image_tag 'notebook.jpg', class: "notebook-image" %>
    <div class="split-body">
      <p class="split-title">TAKAYA<br>INIWA</p>
      <p class="split-text">
        テックキャンプ100期短期集中の受講生です<br>
        エンジニアは未経験です。<br>
        前職は、陸上自衛隊で3等陸曹として勤務していました<br>
        略歴は<a class="link" href="#about">こちら</a>から。<br>
        ポートフォリオは<a class="link" href="#works">こちら</a>から。
      </p>
    </div>
  </div>

  <%# about %>
  <section class="about section" id="about">
    <div class="inner">
      <h2 class="title">ABOUT</h2>
      <div class="profile">
        <p class="profile-img">
          <%= image_tag 'fuji.JPG', class: "-img" %>
        </p>
        <div class="profile-body">
          <p>
            <b>~ はじめに ~</b><br>
            まずは、私のポートフォリオに目を通して頂きありがとうございます。エンジニアとしての職務経験はありませんが、
            TECH::CAMPで学んだ知識を伸ばせるように、自主学習に励んでおります。
            具体的には、開発への知識を深めるためのオリジナルアプリケーションの開発やネットワークへの知識を深めるための皮切りとしてCCNAの学習を行っています。
          </p>
          <p>
            <b>~ スキル ~</b><br>
            HTML, CSS, Ruby, RubyonRails, Github, heroku, AWS
          </p>
          <p>
            <b>~ 出身 ~</b><br>
            出身は京都府です。高校1年生までは京都府で生活していましたが、金銭的な理由があり、当時通っていた高校を
            自主退学、神奈川県の陸上自衛隊高等工科学校で1年生として通い始め、3年間寮生活を経験しました。
          </p>
          <p>
            <b>~ 職業経験 ~</b><br>
            前職は、陸上自衛官です。高校卒業後、1年間の陸曹になるための教育を経て3等陸曹として3年間勤務しました。
            所属は、陸上自衛隊水陸機動団特科大隊でした。主な職務内容としては、訓練時の指揮所勤務と保全業務を兼任してました。
            また、2度の海外訓練の経験もあります。英語は、TOEIC590点程度でしたが、現地で海兵隊の方とのコミュニケーションを任されたこともありました。
          </p>
          <p>
            <b>~ 趣味 ~</b><br>
            最近の趣味は、コーヒーを淹れることです。毎日、好きなコーヒー豆を挽いてペーパドリップで淹れています。
            最近は、エスプレッソに手を出したのですが、焙煎やバリスタにも興味があります。
          </p>
        </div>
      </div>
    </div>
  </section>
  <%# /about %>

  <%# content %>
  <section class="works section" id="works">
    <div class="inner">
      <h2 class="title">CONTENTS</h2>
      <div class="works-list">
        <% @post.each do |post| %>
          <%= link_to post_path(post), class: "works-item" do %>
            <p class="works-img"><%= image_tag post.image %></p>
            <p class="works-name"><%= post.title %></p>
            <p class="works-info">Github / <%= post.git_url %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <section class=" section" id="works">
    <div class="inner">
      <div class="new-post">
        <%= link_to 'ポートフォリオを新規投稿する', new_post_path %>
      </div>
    </div>
  </section>
  <%# /content %>
</main>

