<main class="content">
  <article class="article">
    <div class="article-inner">
      <h2 class="article-title"><%= @post.title %></h2>
      <p class="article-img">
        <%= image_tag @post.image, class: "post-image" %>
      </p>
      <div class="article-body">
        <h3 class="article-info-title">アプリケーションのタイトル</h3>
        <p class="text-box"><%= @post.title %></p>
        <h3 class="article-info-title">アプリケーションのURL</h3>
        <p class="text-box"><a href=<%= @post.app_url %> target="_blank" rel="noopener"><%= @post.app_url %></a></p>
        <h3 class="article-info-title">GithubのURL</h3>
        <p class="text-box"><a href=<%= @post.git_url %> target="_blank" rel="noopener"><%= @post.git_url %></a></p>
        <h3 class="article-info-title">制作期間</h3>
        <p class="date-box"><%= l @post.start_date %> <span class="kara">から</span> <%= l @post.last_date %></p>
        <h3 class="article-info-title">ペルソナ</h3>
        <div class="text-box m"><%= simple_format @post.persona %></div>
        <h3 class="article-info-title">アプリケーションの目的</h3>
        <div class="text-box m"><%= simple_format @post.purpose %></div>
        <h3 class="article-info-title">アプリケーションの詳細</h3>
        <div class="text-box m"><%= simple_format @post.detail %></div>
      </div>
      <div class="home-link">
        <%= link_to 'Contents一覧へ', root_path %>
      </div>
      <div class="new-post">
        <%= link_to 'ポートフォリオを編集する', edit_post_path(@post) %>
      </div>
      <div class="new-post">
        <%= link_to '削除する', post_path(@post), method: :delete, class: "delete_path" %>
      </div>
    </div>
  </article>
  <div class="page-top" id="js-page-top">
    <span class="material-icons-outlined">expand_less</span>
  </div>
</main>